body{
    background: rgb(95, 87, 255);
    min-height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
label{
    color:white;
}
.card-body{
    background: rgb(110, 167, 230);
    border-radius:10px;
}
.form-control{
    background: rgb(110, 167, 230);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.form-label{
    background: rgb(110, 167, 230);
}
.form-control:focus {
    background: rgb(110, 167, 230);
}
#togglePassword{
    background: rgba(255, 255, 255, 0.12);
    border:none;
}
#toggleConfirmPassword{
    background: rgba(255, 255, 255, 0.12);
    border:none;
}
